#cube-relative-area{
    width: 300px;
    height: 200px;
    position: relative;
    display: flex;
    justify-self: end;
    align-self: end;
    grid-area: cube;

}

#cube-div{
    pointer-events: none;
    position: absolute;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        ". top . ."
        "left front right back"
        ". down . .";
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(4, 50px);
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cube-relative-area:hover  #cube-div{
    grid-template-rows: repeat(3, 130px);
    grid-template-columns: repeat(4, 130px);
    transform: translate(-75%, -75%);
    top: 0;

    /* transform: rotateY(180deg); */
}
#top{
    grid-area: top;
    grid-template-areas:
        "tbl tbc tbr"
        "tcl tcc tcr"
        "tfl tfc tfr";
}
#front{
    grid-area: front;
    grid-template-areas:
    "fbl fbc fbr"
    "fcl fcc fcr"
    "ffl ffc ffr";
}
#down{
    grid-area: down;
    grid-template-areas:
    "dbl dbc dbr"
    "dcl dcc dcr"
    "dfl dfc dfr"
}
#back{
    grid-area: back;
    grid-template-areas:
        "bbl bbc bbr"
        "bcl bcc bcr"
        "bfl bfc bfr";
}
#right{
    grid-area: right;
    grid-template-areas:
        "rbl rbc rbr"
        "rcl rcc rcr"
        "rfl rfc rfr";
}
#left{
    grid-area: left;
    grid-template-areas:
        "lbl lbc lbr"
        "lcl lcc lcr"
        "lfl lfc lfr";
}
.cube-face{
    border-radius: 5px;
    padding: 3px;
    aspect-ratio: 1;
    display: grid;
    grid-gap: 4px;
    background-color: var(--cube-internal-color);
}
.cube-piece{
    border-radius: 3px;
    transition: 2s;
}
