
#cube-div{
    pointer-events: none;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
        ". top . ."
        "left front right back"
        ". down . .";
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(4, 50px);
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#cube-relative-area:hover  #cube-div{
    grid-template-rows: repeat(3, 125px);
    grid-template-columns: repeat(4, 125px);

}   
.cube-face{
    border-radius: 5px;
    padding: 3px;
    aspect-ratio: 1;
    display: grid;
    grid-gap: 4px;
    background-color: var(--cube-internal-color);
}
.cube-piece{
    border-radius: 3px;
    transition: 2s;
}
#top{
    grid-area: top;
    grid-template-areas:
        "tbl tbc tbr"
        "tcl tcc tcr"
        "tfl tfc tfr";
}
#front{
    grid-area: front;
    grid-template-areas:
    "fbl fbc fbr"
    "fcl fcc fcr"
    "ffl ffc ffr";
}
#down{
    grid-area: down;
    grid-template-areas:
    "dbl dbc dbr"
    "dcl dcc dcr"
    "dfl dfc dfr"
}
#back{
    grid-area: back;
    grid-template-areas:
        "bbl bbc bbr"
        "bcl bcc bcr"
        "bfl bfc bfr";
}
#right{
    grid-area: right;
    grid-template-areas:
        "rbl rbc rbr"
        "rcl rcc rcr"
        "rfl rfc rfr";
}
#left{
    grid-area: left;
    grid-template-areas:
        "lbl lbc lbr"
        "lcl lcc lcr"
        "lfl lfc lfr";
}

