.cube-wrapper{
    transition: var(--transition-speed);
    display: grid;
    grid-template-areas:
    ". u . ."
    "l f r b"
    ". d . .";
    grid-gap: 10px;
    
    width: 100%;
    aspect-ratio: 4/3;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
}
#cube-relative-area:hover  #show-scramble{
    grid-template-rows: repeat(3, 125px);
    grid-template-columns: repeat(4, 125px);
}
.cubeClass-face-div{
    display: grid;
    aspect-ratio: 1;
    grid-gap: 4px;
    background-color: var(--cube-internal-color);
    padding: 3px;
    border-radius: 5px; 
}
.cubeClass-square-div{
    border-radius: 3px;
    transition: 2s;
}
.cubeClass3-u-div{
    grid-area: u;
    grid-template-areas: 
        "cubly euby cubry"
        "euly muy eury"
        "cufly eufy cufry";          
}
.cubeClass3-d-div{
    grid-area: d;
    grid-template-areas: 
        "cdbly edby cdbry"
        "edly mdy edry"
        "cdfly edfy cdfry";          
}
.cubeClass3-r-div{
    grid-area: r;
    grid-template-areas: 
        "cufrx eurx cubrx"
        "efrx mrx ebrx"
        "cdfrx edrx cdbrx";          
}
.cubeClass3-l-div{
    grid-area: l;
    grid-template-areas: 
        "cuflx eulx cublx"
        "eflx mlx eblx"
        "cdflx edlx cdblx";          
}
.cubeClass3-f-div{
    grid-area: f;
    grid-template-areas: 
        "cuflz eufz cufrz"
        "eflz mfz efrz"
        "cdflz edfz cdfrz";          
}
.cubeClass3-b-div{
    grid-area: b;
    grid-template-areas: 
        "cublz eubz cubrz"
        "eblz mbz ebrz"
        "cdblz edbz cdbrz";          
}

.cubeClass3-d-div-r{
    grid-area: d;
    grid-template-areas: 
        "cdbly edby cdbry"
        "edly mdy edry"
        "cdfly edfy cdfry";          
}
.cubeClass3-l-div-r{
    grid-area: l;
    grid-template-areas: 
        "cublx eulx cuflx"
        "eblx mlx eflx"
        "cdblx edlx cdflx";          
}
.cubeClass3-b-div-r{
    grid-area: b;
    grid-template-areas: 
        "cublz eubz cubrz"
        "eblz mbz ebrz"
        "cdblz edbz cdbrz";          
}


#cube-relative-area{
    width: 250PX;
    height: 200px;
    position: relative;
    display: flex;
    justify-self: end;
    align-self: end;
    grid-area: cube;
    margin: 10px;
}
#show-scramble{
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;

}