*{
    margin: 0;
    padding: 0;

    transition: var(--transition-speed);
    
}
:root{
    font-family: var(--general-font);

    --main-color: 200;

    --background-main-divs: hsl(var(--main-color), 35%, 40%);

    --body-color: hsl(var(--main-color), 45%, 15%);
    --accent1: hsl(var(--main-color), 30%, 25%);
    --accent2: hsl(var(--main-color), 35%, 45%);
    --accent3: hsl(var(--main-color), 80%, 25%);

    --cube-internal-color: hsl(var(--main-color), 35%, 22%);

    --timer-size: 10rem;
    --scramble-size: 2.5rem;
    
    --transition-speed: .5s;

    --timer-font: 'Roboto Mono', cursive;
    --scramble-font: 'Rubik', cursive;
    --general-font: 'Titillium Web', sans-serif;;
}

html, body{
    box-sizing: border-box; 
    min-height: 900px;
    height: 100%;
    min-width: fit-content;
}
body{
    padding: 20px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menu{
    background-color: var(--accent1);
    font-size: 3rem;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}
.screen{
    border-radius: 10px;
    height: 100%;
    background-color: var(--background-main-divs);

}
#screens{
    height: calc(100% - 120px);
    display: flex;
    gap: 20px;
}


::-webkit-scrollbar{
    width:14px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent1);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{
    background-color: #00000000;
}

