*{
    margin: 0;
    padding: 0;

    transition: var(--transition-speed);
    
}

:root{
    font-family: var(--general-font);

    --main-color: 215;

    --background-main-divs: hsl(var(--main-color), 35%, 40%);

    --body-color: hsl(var(--main-color), 45%, 15%);
    --accent1: hsl(var(--main-color), 30%, 25%);
    --accent2: hsl(var(--main-color), 35%, 45%);
    --accent3: hsl(var(--main-color), 80%, 25%);

    --cube-internal-color: hsl(var(--main-color), 35%, 22%);

    --timer-size: 10rem;
    --scramble-size: 2.5rem;
    
    --transition-speed: .5s;

    --timer-font: 'Roboto Mono', cursive;
    --scramble-font: 'Rubik', cursive;
    --general-font: 'Titillium Web', sans-serif;;
}

body{
    background-color: var(--body-color);
    
    height: 100vh;

    display: flex;
    flex-direction: column;
}


::-webkit-scrollbar{
    width:14px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent1);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
}


#menu{
    background-color: var(--accent1);
    flex-grow: .1;

    margin: 20px 20px 0 20px;

    font-size: 4rem;

    border-radius: 10px;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

#screens{
    margin: 20px;

    flex-grow: 1;
    display: flex;

    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    height: 100%;
    border-radius: 10px;
}



#centre-div{    
    border-radius: 10px;

    flex-grow: 1;
    
    background-color: var(--background-main-divs);

    display: grid;
    grid-template-areas: 
            "scramble scramble scramble"
            ". time ."
            ". . cube";
    grid-template-columns: repeat(3, 1fr);

    font-family: var(--timer-font);
    font-size: var(--timer-size);

}



