#history-div{
    direction: rtl;
    display: flex;
    flex-grow: 1;
    height: 100%;
    
    overflow-y: scroll;
    margin-right: 14px;
}
#history-table{
    direction: ltr;

    height: fit-content;
    width: 100%;
    border-collapse: collapse;
    position: relative;
    box-shadow:  0px -1px 0 0px;
    
}
#history-table th{
    box-shadow: inset 0px 1px 0 0px, inset 0px -1px 0 0px;
    position: sticky;
    top: 0;
    background-color: var(--background-main-divs);
}
#hh1,#hh2,#hh4,#hh5{
    cursor: pointer;
}
#history-table td, th{
    height: fit-content;
    padding: 0.25rem;
    border-left: 1px solid;
    border-right: 1px solid;
}
#history-table tr:nth-of-type(odd){
    background-color: var(--accent1);
}
#history-table tr:nth-of-type(even){
    background-color: var(--accent2);
}
#history-table tbody tr td:not(:last-child){
    flex-grow: 1;
}
#history-table tbody tr td:last-child{
    width: 20px;
}