#left-bar-div{
    background-color: var(--background-main-divs);
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-areas: "stats .";
    padding-left: 20px;
    position: relative;
}

/* stats */

#statistics-div{
    width: 500px;
    display: grid;
    grid-template-rows: 400px 400px 1fr;
    grid-template-areas: 
        "avgchart"
        "history"
        ".";
    gap: 50px;
}

/* canvas */

#canvas-div{
    grid-area: avgchart;
}
#myChart{
    width: 100%;
    font-family: var(--scramble-font);
}

/* table */

#history-div{
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#history-table{
    height: fit-content;
    width: 100%;
    border-collapse: collapse;
    position: relative;
    box-shadow:  0px -1px 0 0px;
    
}
#history-table th{
    box-shadow: inset 0px 1px 0 0px, inset 0px -1px 0 0px;
    position: sticky;
    top: 0;
    background-color: var(--background-main-divs);
}
#history-table td, th{
    height: fit-content;
    padding: 0.25rem;
    border-left: 1px solid;
    border-right: 1px solid;
}
#history-table tr:nth-of-type(odd){
    background-color: var(--accent1);
}
#history-table tr:nth-of-type(even){
    background-color: var(--accent2);
}
#history-table tbody tr td:not(:last-child){
    width: 0;
}

/* control */

#left-bar-control-open{
    background-color: var(--accent2);
    aspect-ratio: 1;
    position: absolute;
    width: 30px;
    right: -10px;
    top: -10px;
    border-radius: 10px;
}
