#left-bar-div{
    background-color: var(--background-main-divs);
    display: flex;
    position: relative;
    min-width: fit-content;
    overflow: hidden;
}
#left-bar-control-open{

    aspect-ratio: 1;
    position: absolute;
    width: 30px;
    right: 0px;
    top: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transform: rotateZ(180deg);
}
#left-bar-control-div{
    position: absolute;
    width: 250px;
    left: 27.5%;
    bottom: 0px;
    height: 40px;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}





.left-bar-oc-div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;

    padding: 5px;
}


/* canvas */

#canvas-div{
    width: 100%;
    height: 100%;

    overflow-x: scroll;
}

/* table */

#history-div{
    direction: rtl;
    display: flex;
    flex-grow: 1;
    height: 100%;
    
    overflow-y: scroll;
    margin-right: 14px;
}
#history-table{
    direction: ltr;

    height: fit-content;
    width: 100%;
    border-collapse: collapse;
    position: relative;
    box-shadow:  0px -1px 0 0px;
    
}
#history-table th{
    box-shadow: inset 0px 1px 0 0px, inset 0px -1px 0 0px;
    position: sticky;
    top: 0;
    background-color: var(--background-main-divs);
}
#hh1,#hh2,#hh4,#hh5{
    cursor: pointer;

}
#history-table td, th{
    height: fit-content;
    padding: 0.25rem;
    border-left: 1px solid;
    border-right: 1px solid;
}
#history-table tr:nth-of-type(odd){
    background-color: var(--accent1);
}
#history-table tr:nth-of-type(even){
    background-color: var(--accent2);
}
#history-table tbody tr td:not(:last-child){
    flex-grow: 1;
}
#history-table tbody tr td:last-child{
    width: 20px;
}

