* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: var(--transition-speed); */
}

:root {
  font-family: var(--general-font);
  --timer-size: 7rem;
  --scramble-size: 2rem;
  --transition-speed: .5s;
  --timer-font: "Roboto Mono", cursive;
  --scramble-font: "Rubik", cursive;
  --general-font: "Titillium Web", sans-serif;
}

html {
  min-height: 700px;
  height: 100%;
}

body {
  height: 100%;
  padding: 16px;
  background-color: var(--main-dark);
  display: grid;
  grid-template-areas: "menu" "app";
  grid-template-rows: 48px 1fr;
  gap: 8px;
  min-width: 800px;
  position: relative;
}

#menu {
  border-bottom: solid 1px var(--main-light);
  grid-area: menu;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 5px;
  background-color: var(--main-dark-gray);
  padding: 4px 2px;
  gap: 4px;
}
#menu:hover::before {
  opacity: 1;
}
#menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: radial-gradient(20vw circle at var(--mouse-x) var(--mouse-y), var(--main-light), transparent 60%);
  opacity: 0;
  transition: opacity 0.3s;
}
#menu .tab {
  cursor: pointer;
  border-radius: inherit;
  background-color: var(--main-dark-gray);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.6s;
  line-height: 100%;
  font-size: 1lh;
}
#menu .tab:hover {
  transform: translateZ(-48px) translateY(-5px);
  box-shadow: 0 0 1px 2px var(--main-light-gray);
}

app {
  min-width: 600px;
  width: auto;
  grid-area: app;
  display: flex;
  gap: 16px;
  height: 100%;
  overflow: auto;
}
app wrapper {
  overflow: hidden;
  display: grid;
  grid-template-areas: "." "app" ".";
  grid-template-rows: 50px 1fr 50px;
  border-radius: 5px;
  height: 100%;
  background-color: var(--main-color);
  position: relative;
  min-width: fit-content;
}
app wrapper .sizer {
  width: 75px;
}
app wrapper tab {
  width: 100%;
  height: 100%;
  display: grid;
  grid-area: app;
  overflow: hidden;
}

.side-inner {
  width: 560px;
  padding: 0 8px 0 24px;
  grid-area: app;
  transition: width 1.2s;
  overflow-y: scroll;
}
.side-inner side-app {
  aspect-ratio: 1;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: auto;
}
.side-inner side-app h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
.side-inner side-app side-content {
  padding: 0 0 0 16px;
  position: relative;
  min-width: 100%;
  max-width: 300%;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  resize: horizontal;
}
.side-inner side-app.add-app {
  cursor: pointer;
  overflow: hidden !important;
  padding-bottom: 14px !important;
  justify-content: center;
  align-items: center;
}
.side-inner side-app.add-app:hover::before {
  transform: none;
}
.side-inner side-app.add-app::before {
  transition: 0.6s;
  content: "";
  background-image: url("../../img/aiae.svg");
  background-size: contain;
  transform: scale(0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}
.side-inner side-app:not(:last-child) {
  margin-bottom: 48px;
}

#left-screen {
  border-right: solid 1px var(--main-light);
}

#centre-screen {
  min-width: 500px;
  transition: background-color 0.5s;
  flex-grow: 1;
  position: relative;
}
#centre-screen #timer-tab {
  position: relative;
  grid-template-areas: "scramble" "time " "cube";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  font-family: var(--timer-font);
  font-size: var(--timer-size);
  padding: 20px;
}
#centre-screen #timer-tab #scramble-div {
  font-size: var(--scramble-size);
  grid-area: scramble;
  display: grid;
  font-family: var(--scramble-font);
  text-align: center;
  height: fit-content;
  gap: 8px;
  padding: 0 8px;
}
#centre-screen #timer-tab #timer-div {
  grid-area: time;
  align-self: center;
  justify-self: center;
  font-family: var(--timer-font);
  font-size: var(--timer-size);
  display: grid;
  grid-template-rows: 1fr 3rem;
  justify-content: center;
  align-items: center;
  transition: none;
}
#centre-screen #timer-tab #timer-div .miliseconds {
  font-size: calc(0.5 * var(--timer-size));
}
#centre-screen #timer-tab #timer-div .seconds::after {
  content: ".";
}
#centre-screen #timer-tab #timer-div #instructions-span {
  font-size: 1rem;
  justify-content: center;
  display: flex;
  font-family: var(--scramble-font);
}
#centre-screen #td-tab {
  position: relative;
}
#centre-screen #td-tab .bg {
  position: absolute;
  top: 0;
  left: 0;
  cursor: grab;
}

#right-screen {
  border-left: solid 1px var(--main-light);
}
#right-screen .button-area {
  right: unset;
  left: 0;
  border-radius: 0 0 10px 0;
}
#right-screen .side-inner deck {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 100%;
  gap: 8px;
  overflow-x: scroll;
  width: 100%;
  height: 320px;
  padding: 24px 8px 8px;
  border-radius: 5px;
  border-bottom: solid 1px var(--main-light);
}
#right-screen .side-inner deck card-wrapper {
  display: flex;
  cursor: pointer;
  aspect-ratio: 2/3;
  height: 100%;
  padding: 4px;
  border-left: solid 1px var(--main-light);
  border-radius: 5px;
  background-color: var(--main-dark-gray);
  position: relative;
  transition: 0.3s;
}
#right-screen .side-inner deck card-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  opacity: 0;
  background: radial-gradient(320px circle at var(--mouse-x) var(--mouse-y), var(--main-light), transparent 30%);
  transition: 0.3s;
}
#right-screen .side-inner deck card-wrapper:hover::before {
  opacity: 1;
}
#right-screen .side-inner deck card-wrapper card {
  display: grid;
  gap: 8px;
  width: 100%;
  height: 100%;
  padding: 8px;
  border: solid 1px var(--main-light-gray);
  border-radius: inherit;
  background-color: var(--square-right);
  z-index: 1;
  transition: 0.6s;
}
#right-screen .side-inner deck card-wrapper card h1 {
  font-size: 1lh;
  display: block;
  text-align: center;
}
#right-screen .side-inner deck card-wrapper card cube_area {
  aspect-ratio: 1;
  width: 100%;
  display: grid;
  grid-template-areas: ". B ." "L U R" ". F .";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
}
#right-screen .side-inner deck card-wrapper card cube_area face {
  aspect-ratio: unset;
}
#right-screen .side-inner deck card-wrapper card cube_area face.F, #right-screen .side-inner deck card-wrapper card cube_area face.B {
  grid-template-areas: "UL UM UR";
  transform: scaleY(0.3);
}
#right-screen .side-inner deck card-wrapper card cube_area face.L, #right-screen .side-inner deck card-wrapper card cube_area face.R {
  grid-template-areas: "UL" "UM" "UR";
  transform: scaleX(0.3);
}
#right-screen .side-inner deck card-wrapper card cube_area face sticker {
  aspect-ratio: unset;
}

*:has(c-button) {
  z-index: 0;
}

.button-area {
  width: fit-content;
  height: 35px;
  padding: 5px 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.button-area indicator {
  height: 100%;
  aspect-ratio: 1;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  position: absolute;
  bottom: -5px;
  background-color: var(--main-color);
  transition: 0.5s ease;
}

c-button {
  height: 100%;
  aspect-ratio: 1;
  margin: 5px;
  border-radius: 50%;
  position: relative;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-dark-gray);
  cursor: pointer;
}
c-button::before {
  transition: 0.6s;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  z-index: -1;
}
c-button:hover::before {
  box-shadow: 0 0 20px 20px var(--main-light);
}
c-button graphic {
  border-radius: 50%;
}

graphic {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
graphic line {
  background-color: var(--main-light);
  border-radius: 10px;
  position: absolute;
  transition: all 0.6s ease-in-out 0.5s;
  height: 10%;
  width: 75%;
}
graphic line.diagonal-incline {
  transform: rotateZ(-45deg);
}
graphic line.diagonal-decline {
  transform: rotateZ(45deg);
}
graphic square {
  background-color: aqua;
  width: 100%;
  height: 100%;
}
graphic.expand-graphic line {
  width: 50% !important;
  top: 50%;
}
graphic.expand-graphic line.diagonal-decline {
  right: 40%;
}
graphic.expand-graphic line.diagonal-incline {
  left: 40%;
}
graphic.add-graphic .vertical-line {
  transform: rotate(90deg);
}

.nav-bar #timer-tab-button {
  background-color: hsl(calc(var(--main-hue) + var(--main-modifier) * 0), var(--main-saturation), var(--main-lightness));
}
.nav-bar #td-tab-button {
  background-color: hsl(calc(var(--main-hue) + var(--main-modifier) * 1), var(--main-saturation), var(--main-lightness));
}
.nav-bar #smt-tab-button {
  background-color: hsl(calc(var(--main-hue) + var(--main-modifier) * 2), var(--main-saturation), var(--main-lightness));
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-dark-gray);
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  opacity: 0;
}

loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--main-color), 20%, 50%, 0.7);
  backdrop-filter: blur(5px);
  z-index: 10;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: wait;
}

#rubiks-loading {
  display: grid;
  gap: 5px;
  grid-template-rows: 80px 80px 80px;
  grid-template-columns: 80px 80px 80px;
  justify-content: center;
  align-content: center;
}
#rubiks-loading square {
  box-shadow: inset 0 0 0 2px;
  border-radius: 10px;
  animation: spin 1.25s linear 0.5s infinite, enter 0.5s linear;
}
#rubiks-loading square:first-child {
  background-color: var(--c-green);
}
#rubiks-loading square:nth-child(2) {
  background-color: var(--c-blue);
}
#rubiks-loading square:nth-child(3) {
  background-color: var(--c-green);
}
#rubiks-loading square:nth-child(4) {
  background-color: var(--c-white);
}
#rubiks-loading square:nth-child(5) {
  background-color: var(--c-red);
}
#rubiks-loading square:nth-child(6) {
  background-color: var(--c-red);
}
#rubiks-loading square:nth-child(7) {
  background-color: var(--c-orange);
}
#rubiks-loading square:nth-child(8) {
  background-color: var(--c-yellow);
}
#rubiks-loading square:nth-child(9) {
  background-color: var(--c-green);
}

@keyframes enter {
  0% {
    transform: translateY(-50%);
  }
  30% {
    transform: translateY(-20%) rotateZ(30deg);
  }
  50% {
    transform: translateY(15%) rotateZ(50deg);
  }
  80% {
    transform: translateY(-10%) rotateZ(80deg);
  }
  100% {
    transform: translateY(0) rotateZ(90deg);
  }
}
@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(90deg);
  }
}
.carved {
  background-color: var(--semi-transparent);
  box-shadow: inset 0 0 3px 1px var(--main-dark);
}

.shadow {
  box-shadow: 0 0 3px 1px var(--main-dark);
}

.hidden {
  display: none;
}

.full-screen {
  position: fixed !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 10 !important;
  background-color: red;
  top: 0 !important;
  left: 0 !important;
}

.width0 {
  width: 0 !important;
}

/*# sourceMappingURL=main.css.map */
