#right-bar-div {
    position: relative;
    display: grid;
    overflow: hidden;
    min-width: fit-content;
}

#right-bar-control-open{
    aspect-ratio: 1;
    position: absolute;
    width: 30px;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: rotateZ(180deg);
}

#right-bar-control-div{
    position: absolute;
    width: 250px;
    left: 27.5%;
    bottom: 0px;
    height: 40px;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#right-wraper-div{
    display: flex;
    flex-direction: column;
    width: 500px;

    padding: 0 20px 0 20px;
    margin: 50px 0 50px;

    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;


}
.right-subpanel{
    min-width: 500px;
    min-height: 100%;
    scroll-snap-align: center;


}