*{
    margin: 0;
    padding: 0;

    /* transition: var(--transition-speed); */
    
}
:root{
    font-family: var(--general-font);

    --main-color: 200;
    --main-color1: calc(var(--main-color) + 20);
    --main-color2: calc(var(--main-color) + 40);

    --background-main-divs: hsl(var(--main-color), 35%, 40%);
    --background-sec-divs: hsl(var(--main-color1), 35%, 40%);
    --background-third-divs: hsl(var(--main-color2), 35%, 40%);

    --body-color: hsl(var(--main-color), 45%, 15%);
    --accent1: hsl(var(--main-color), 30%, 25%);
    --accent2: hsl(var(--main-color), 35%, 45%);
    --accent3: hsl(var(--main-color), 80%, 25%);

    --cube-internal-color: hsl(var(--main-color), 35%, 22%);

    --timer-size: 7rem;
    --scramble-size: 2rem;
    
    --transition-speed: .5s;

    --timer-font: 'Roboto Mono', cursive;
    --scramble-font: 'Rubik', cursive;
    --general-font: 'Titillium Web', sans-serif;;
}

html, body{
    box-sizing: border-box; 
    min-height: 700px;
    height: 100%;
    min-width: fit-content;
}
body{
    padding: 20px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* menu */

#menu{
    background-color: var(--accent1);
    font-size: 2rem;
    height: fit-content;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    height: 50px;
}

/* app */

#screens{
    flex-grow: 1;
    display: flex;
    gap: 20px;
    height: calc(100% - 70px);
}
.screen{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: 
            "."
            "app"
            ".";
    grid-template-rows: 50px 1fr 50px;
    border-radius: 10px;
    height: 100%;
    background-color: var(--background-main-divs);
    position: relative;

    overflow-x: hidden;

    min-width: 75px;
}
.screen-inner-wrapper{
    grid-area: app;

    box-sizing: border-box;
    width: fit-content;

    margin-left:20px;
    margin-right: 6px;
    max-height: 100%;

    display: grid;
    grid-auto-rows: 400px;
    width: 500px;
    gap: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all .55s ease-in-out;


}
.side-app{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 486px;
    height: 100%;
    text-align: center;
    border-radius: 10px;

    padding: 5px;

    overflow-x: scroll;
}
.side-app h1{
    width: 100%;
    left: 0;
    position: sticky;
}

/* open */
.open-graphic{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.open-graphic-line{
    background-color: var(--accent3);
    height: 10%;
    width: 75%;
    border-radius: 10px;
    position: absolute;

    transition: all .6s ease-out;
}

#right-screen .button-area{
    right: auto;
    left: 0;
    border-radius: 0 0 10px 0;
}

/* Centre div */

#centre-screen{
    min-width: 400px;
    transition-duration: .3s;
    z-index: 1;
    flex-grow: 1;

    
}
.centre-screen{
    width: 100%;
    height: 100%;

    display: grid;
    grid-area: app;
    overflow: hidden;
}


/* left div */

#canvas-div{
    width: 100%;
    height: 100%;
}

/* right div */

#right-screen {
    display: grid;
}

/* timer app */

#timer{
    grid-template-areas: 
            "scramble"
            "time "
            "cube";

    font-family: var(--timer-font);
    font-size: var(--timer-size);
}
#scramble-div{
    font-size: var(--scramble-size);
    grid-area: scramble;

    display: grid;
    font-family: var(--scramble-font);
    text-align: center;
    height: fit-content;

    gap: 10px;

    padding: 0 10px 0 10px;
}
#scramble-options-div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 1.5rem;
}
.scramble-options-button{
    display: flex;

    max-height: 100%;
    aspect-ratio: 1;
    margin: 2px;
}
#timer-div{
    grid-area: time;
    align-self: center;
    justify-self: center;

    font-family: var(--timer-font);
    font-size: var(--timer-size);

    display: grid;
    grid-template-rows: 1fr 3rem;

    transition: none;
}
#tens{
    font-size: calc(0.5*var(--timer-size));
}
#instructions-span{
    font-size: 1rem;
    justify-content: center;
    display: flex;
    font-family: var(--scramble-font);
}

/* three */

#td{
    position: relative;
}
#bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* other */


.hidden{
    display: none;
}

#timer-tab {
    background-color: var(--background-main-divs);
}
#td-tab{
    background-color: var(--background-sec-divs);  
}
#smt-tab{
    background-color: var(--background-third-divs);  
}

::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent1);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{
    background-color: #00000000;
}

.carved{
    background-color: hsla(0, 0%, 75%, 0.1);
    box-shadow: inset 0 0 3px 1px var(--accent1);
}


/* cleaned */

/* page swapper */
.button-area{
    width: fit-content;
    height: 35px;
    min-width: 35px;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 10px;
    
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    overflow: hidden;
    align-items: center;
}
.tab-button{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
    margin: 5px;

    position: relative;

    background-color: var(--background-main-divs);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.indicator{
    height: 100%;
    aspect-ratio: 1;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;

    position: absolute;
    bottom: -5px;
    transition: all .3s ease-in-out;
    background-color: var(--background-main-divs); 
}