*{
    margin: 0;
    padding: 0;

    /* transition: var(--transition-speed); */
    
}
:root{
    --c-green: hsl(135, 50%, 50%);
    --c-blue: hsl(216, 50%, 50%);
    --c-red: hsl(0, 50%, 50%);
    --c-orange: hsl(19, 50%, 50%);
    --c-white: hsl(0, 0%, 75%);
    --c-yellow: hsl(62, 50%, 50%);


    font-family: var(--general-font);

    --main-color: 200;
    --main-modifier: 20;
    --main-saturation: 35%;
    --main-lightness: 40%;

    --background-main-divs: hsl(var(--main-color), var(--main-saturation), var(--main-lightness));

    --body-color: hsl(var(--main-color), 45%, 15%);

    --accent1: hsl(var(--main-color), 30%, 25%);
    /* --accent1: hsl(var(--main-color), calc(--main-saturation - 5%), 25%); */
    --accent2: hsl(var(--main-color), 35%, 45%);
    --accent3: hsl(var(--main-color), 80%, 25%);

    --header: hsla(calc(var(--main-color) + 10  ), var(--main-saturation), var(--main-lightness));
    --table1: hsla(calc(var(--main-color) + 10  ), var(--main-saturation), var(--main-lightness), .8);
    --table2: hsla(calc(var(--main-color) + 20  ), var(--main-saturation), var(--main-lightness), .8);
    

    --cube-internal-color: hsl(var(--main-color), 35%, 22%);

    --timer-size: 7rem;
    --scramble-size: 2rem;
    
    --transition-speed: .5s;

    --timer-font: 'Roboto Mono', cursive;
    --scramble-font: 'Rubik', cursive;
    --general-font: 'Titillium Web', sans-serif;
}

html{
    min-height: 700px;
    height: 100%;

}
body{
    box-sizing: border-box; 
    height: 100%;
    padding: 20px;
    background-color: var(--body-color);
    display: grid;
    grid-template-areas: 
        "menu"
        "app";
    grid-template-rows: 50px 1fr;
    gap: 20px;
    min-width: 800px;
    position: relative;
}

loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    background-color: hsl(0, 0%, 0%, 0.7);
    backdrop-filter: blur(2px);
    z-index: 10;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
}

//buttons

.button-area{
    box-sizing: border-box;
    width: fit-content;
    height: 35px;
    padding: 5px 10px 5px 10px;
    border-bottom-left-radius: 10px;
    
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    align-items: center;
    overflow: hidden;

    indicator{
        height: 100%;
        aspect-ratio: 1;
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;

        position: absolute;
        bottom: -5px;
        
        background-color: var(--background-main-divs);
        
        transition: all .5s ease;
    }
}
c-button{
    height: 100%;
    aspect-ratio: 1;
    margin: 5px;
    border-radius: 50%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-main-divs);
    
    cursor: pointer;

    graphic{
        border-radius: 50%;
        
        .diagonal-incline{
            transform: rotateZ(-45deg);
        }
        .diagonal-decline{
            transform: rotateZ(+45deg);
        }
    }
    .expand-graphic{
        line{
            width: 50% !important;
            top: 50%;
        }
        .diagonal-decline{
            right: 40%;
        }
        .diagonal-incline{
            left: 40%;
        }
    }
}

//menu

#menu{
    grid-area: menu;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    align-items: center;
    justify-items: center;

    height: 100%;
    border-radius: 10px;
    background-color: var(--accent1);

    font-size: 2rem;
    .tab{
        height: 100%;
        width: 80%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        position: relative;
        
        &:hover .dropdown{
            max-height: 250px;
        }
    }
    .dropdown{
        width: 100%;
        max-height: 0;
        border-radius: 0 0 10px 10px;
        background-color: var(--accent1);
    
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 3;
    
        transition: 1.5s;
        overflow: hidden;
    }
    .wrapper{
        box-sizing: border-box;
        width: 100%;
        height: fit-content;
        padding-left: 14px;

        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        justify-content: center;
        align-items: center;
        
        overflow-y: scroll;
    }
    .settings{
        width: 100%;
        height: 50px;
        
        display: flex;
        justify-self: center;
        align-items: center;
    }
    #main-color-picker{
        width: 100%;
        height: 10px;
        border-radius: 10px;
        background: -webkit-linear-gradient(left, 
            hsl(0, 100%, 50%),
            hsl(120, 100%, 50%), 
            hsl(240, 100%, 50%), 
            hsl(360, 100%, 50%)
        ); 

        -webkit-appearance: none;
        appearance: none;

    }
}

//app

app{
    min-width: 600px;
    width: auto;
    grid-area: app;
    display: flex;
    gap: 20px;
    height: 100%;
    overflow: auto;
    wrapper{
        
        overflow: hidden;
        box-sizing: border-box;
        display: grid;
        grid-template-areas: 
                "."
                "app"
                ".";
        grid-template-rows: 50px 1fr 50px;
        border-radius: 10px;
        height: 100%;
        background-color: var(--background-main-divs);
        position: relative;
    
        min-width: fit-content;
        width: fit-content;
        .sizer{
            width: 75px;
        }
        .side-inner{
            grid-area: app;
        
            box-sizing: border-box;
            width: fit-content;
        
            margin-left:20px;
            margin-right: 6px;
            max-height: 100%;
        
            display: grid;
            grid-auto-rows: 400px;
            width: 500px;
            gap: 50px;
            overflow-y: scroll;
            overflow-x: hidden;
            /* transition: all .7s  cubic-bezier(0.6, -0.28, 0.735, 0.045); */
            transition: all .7s  cubic-bezier(0.6, -0.3, .3, 0.3);
            .side-app{
                position: relative;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                text-align: center;
                border-radius: 10px;
            
                padding: 5px;
            
                overflow-x: scroll;
        
                h1{
                    width: 100%;
                    height: 50px;
                    top: 0;
                    left: 0;
                    position: sticky;
                }
                .side-app-content{
                    width: 100%;
                }
            }
        }
        tab{
            width: 100%;
            height: 100%;
        
            display: grid;
            grid-area: app;
            overflow: hidden;
        }
    }
}

#left-screen{
    #canvas-div{
        width: 100%;
        height: 100%;
    }
}
#centre-screen{
    min-width: 500px;
    transition-duration: .5s;
    z-index: 1;
    flex-grow: 1;
    position: relative;    
    .loading{
        transition: left 0.5s;
        position: absolute;
        width: 100%;
        height: 100%;
        grid-column: 1/-1;
        grid-row: 2/-2;
        z-index: 2;
        background-color: inherit;
        left: -100%;
    }
    #timer-tab{ 
        grid-template-areas: 
                "scramble"
                "time "
                "cube";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;

        font-family: var(--timer-font);
        font-size: var(--timer-size);
        padding: 20px;
        box-sizing: border-box;
#scramble-div{
    font-size: var(--scramble-size);
    grid-area: scramble;

    display: grid;
    font-family: var(--scramble-font);
    text-align: center;
    height: fit-content;

    gap: 10px;

    padding: 0 10px 0 10px;

    // max-width: calc(100vw - 1300px);

    #scramble-options-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        height: 1.5rem;
    }
    .scramble-options-button{
        display: flex;
    
        max-height: 100%;
        aspect-ratio: 1;
        margin: 2px;
    }
}  
#timer-div{
    grid-area: time;
    align-self: center;
    justify-self: center;

    font-family: var(--timer-font);
    font-size: var(--timer-size);

    display: grid;
    grid-template-rows: 1fr 3rem;

    transition: none;
    .miliseconds{
        font-size: calc(0.5*var(--timer-size));
    }
    .seconds::after{
        content: '.';
    }
    #instructions-span{
        font-size: 1rem;
        justify-content: center;
        display: flex;
        font-family: var(--scramble-font);
    }
}
#cube-relative-area{
    width: 100%;
    height: 100%;
}

    }
    #td-tab{
        position: relative;
        .bg{
            position: absolute;
            top: 0;
            left: 0;
        
            cursor: grab;
        }
    }
    .nav-bar{
        #timer-tab-button{
            background-color: hsl(calc(var(--main-color) + var(--main-modifier)*0), var(--main-saturation), var(--main-lightness));
        }
        #td-tab-button{
            background-color: hsl(calc(var(--main-color) + var(--main-modifier)*1), var(--main-saturation), var(--main-lightness));
        }
        #smt-tab-button{
            background-color: hsl(calc(var(--main-color) + var(--main-modifier)*2), var(--main-saturation), var(--main-lightness));
        }
    }  
}
#right-screen {
    .button-area{
        right: auto;
        left: 0;
        border-radius: 0 0 10px 0;
    }
}

//add-on classes

.carved{
    background-color: hsla(0, 0%, 75%, 0.1);
    box-shadow: inset 0 0 3px 1px var(--accent1);
}
.shadow{
    box-shadow: 0 0 3px 1px var(--accent1);
}
.hidden{
    display: none;
}

//scroll-bar

::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--accent1);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 10px;
}
::-webkit-scrollbar-corner{
    opacity: 0;
}

//custom graphics

graphic{
    height: 100%;
    aspect-ratio: 1;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    line{
        background-color: var(--accent3);
        border-radius: 10px;
        position: absolute;
    
        transition: all .6s ease-in-out .5s;
        height: 10%;
        width: 75%;  
    }
    square{
        background-color: aqua;
        width: 100%;
        height: 100%;
    }
}
#rubiks-loading{
    display: grid;
    gap: 5px;
    grid-template-rows: 80px 80px 80px;
    grid-template-columns: 80px 80px 80px;
    justify-content: center;
    align-content: center;
    square{
        box-shadow: inset 0 0 0 2px;
        border-radius: 10px;
        animation:
            spin 1.25s linear .5s infinite,
            enter .5s linear;
        &:first-child{
            background-color: var(--c-green);
        }
        &:nth-child(2){
            background-color: var(--c-blue);
        }
        &:nth-child(3){
            background-color: var(--c-green);
        }
        &:nth-child(4){
            background-color: var(--c-white);
        }
        &:nth-child(5){
            background-color: var(--c-red);
        }
        &:nth-child(6){
            background-color: var(--c-red);
        }
        &:nth-child(7){
            background-color: var(--c-orange);
        }
        &:nth-child(8){
            background-color: var(--c-yellow);
        }
        &:nth-child(9){
            background-color: var(--c-green);
        }
    }
}

@keyframes enter {
    0%{
        transform: translateY(-50%);
    }30%{
        transform: translateY(-20%) rotateZ(30deg);
    }50%{
        transform: translateY(15%) rotateZ(50deg);
    }80%{
        transform: translateY(-10%) rotateZ(80deg);
    }100%{
        transform: translateY(0) rotateZ(90deg);
    }
}
@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(90deg);
    }
}